
header{
    background-color: rgb(63, 63, 63);
    width: 100%;
}

header nav ul {
    float: right;
    padding-top: 25px;
}
nav ul li {
    display: inline;
    margin-right: 50px;
}
nav {
    text-align: center;
}

a{
    color:rgb(156, 156, 156);
    font-size: x-large;
    text-decoration: none;
} 

section h2 img{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    width: 90%;
}
section div img{
    margin-top: 30px;
    width: 28.5%;
}
section div img:nth-child(1){
    margin-left: 70px;

}
section div img:nth-child(2){
    margin-left: 30px;
    margin-right: 30px;

}
section article {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 98%;
}
section article img{
    margin-left: 70px; 
    margin-right: 30px;
    width: 50%;
    float: left;
}
p{
    overflow-y: scroll;
    height: 566px;
    margin-right: 70px; 
    margin-bottom: 30px;
}
section article a:hover {
    background-color: black; 
}
footer{
    background-color: rgb(63, 63, 63);
    width: 100%;
    padding-top: 50px;
    margin-top: 30px;
}
